 type="text/css">
 
body,h1,h2,h3 {font-family: Georgia, "Times New Roman" Times, serif; }

body{
	padding-left: 0;
	color: White;
	background: #d0d3d6;
	background: linear-gradient( #386285, white);
	
	}
.StartButton{
	font-weight: bold;
	font-size: 50px;
    color: White; 
	text-align: center;

}
w.3-container w3-red w3-center {
	background-color: #c6def5;
}
.w3-margin w3-jumbo{
	font-size: 300%;
	font-family: Sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	color: #c6def5;
	
	}
h1 {
	font-family: Georgia, "Times New Roman" Times, serif;
	font-size: 300%;
	text-align: center;
	}	
table,td,tr{
	text-align: center;
	font-family: Georgia, "Times New Roman" Times, serif; 
	border: 1px solid grey;
	color: #52575c;
}	
td,tr{
	background-color: White;
}
u1.navbar {
	list-style: none; 
	overflow: hidden;
	background-color: White;
	position: fixed;
	top: 20%;
	width: 100%;
	text-align: left;
	float: left;
	}
@media screen and (min-width: 600px) {
u1.navbar li{
	float:left ;
	border-right: .2em solid Grey;
	padding: 0;
	margin: 0;
	font-family: Georgia, "Times New Roman" Times, serif;
	font-size: 1.2em;
	height: 50px;

	
	background: White;
	
	width: 20%;
    border-bottom: none;
    line-height: 50px;
    font-size: 1.4em;}
}

u1.navbar a {
	display: block;
	color: Black;
	text-decoration: none; 
	transition: .3s background-color;
	padding: 8px; 
	text-align: center;
	}
u1.navbar a:hover {
	background-color: #005f5f;
}

address {
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted ;
	
	}
input{
	
	text-align:left;
	color: Black;
	font-weight: bold;
	background-color: #dadfe0;
}	

h2.Title{
	
}

	
